html {
	scroll-behavior: smooth;

	a {
		&[id] {
			margin-top: -$nav-bar-height;
			padding-top: $nav-bar-height;
		}
	}
}

.docs-page {
	display: grid;
	grid-template-areas:
		'post-header post-header'
		'page-content sidebar'
		'documentation sidebar';
	@media (min-width: $on-palm) {
		grid-template-columns: 3fr 1fr;
	}
	@include media-query($on-palm) {
		grid-template-areas:
			'post-header'
			'page-content'
			'sidebar'
			'documentation';
	}

	.post-header {
		grid-area: post-header;
	}

	.page-content {
		grid-area: page-content;
		padding: revert;
	}

	.documentation {
		grid-area: documentation;
		width: 100%;

		object.inline {
			height: 1em;
		}

		img:not(.shortcuts-action),
		object:not(.inline) {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			max-height: 450px;
			max-width: 100%;
			min-width: 50%;
		}

		.shortcuts-action {
			height: 0.8em;
			padding-bottom: 0.1em;
		}

		.docs-tip {
			display: grid;
			font-size: 0.8em;
			grid-template-areas: 'title content';
			grid-template-columns: auto 1fr;
			padding-left: 2em;

			.tip-title {
				grid-area: title;
				padding-right: 0.5em;
			}

			.tip-content {
				grid-area: content;
			}
		}
	}

	.sidenav {
		grid-area: sidebar;
		@media (min-width: $on-palm) {
			border-left: solid 1px $text-color;
			margin-left: 1em;
		}

		ul {
			list-style: none;
			@media (min-width: $on-palm) {
				margin-left: 1em;
			}
			@include media-query($on-palm) {
				border: solid 1px $text-color;
				margin-left: revert;
				padding: 1em;
			}

			li:not(:last-of-type) {
				padding-bottom: 0.5em;
			}
		}
	}
}

.email-form {
	padding-bottom: 2em;

	textarea,
	select,
	input {
		background-color: $background-color;
		border: 1px solid $text-color;
		border-radius: 5px;
		color: $text-color;
		max-width: 100%;
		padding: 0.5em;
		@media (min-width: $on-palm) {
			width: 50%;
		}
		@media (max-width: $on-palm) {
			width: inherit;
			&:not(:last-of-type) {
				margin-bottom: 0.75em;
			}
		}
	}

	input[type='submit'] {
		@media (min-width: $on-palm) {
			max-width: 20%;
			width: auto;
		}
	}

	form {
		@media (max-width: $on-palm) {
			display: grid;
		}
		@media (min-width: $on-palm) {
			display: flex;

			.field {
				margin-right: 0.5em;
				width: 22em;
			}
		}
	}
}

.feature-content {
	.container {
		margin: 10px auto;
		max-width: 600px;
		text-align: center;

		h1 {
			font-size: 4em;
			letter-spacing: -1px;
			line-height: 1;
			margin: 10px 0 30px 0;
		}
	}
}

.homepage-icon {
	aspect-ratio: 1;
	float: right;
	margin-left: auto;
	margin-right: 0;
	padding-bottom: 1em;
	padding-left: 1em;
	width: 150px;
}

.legal {
	display: grid;
	grid-template-areas: 'icon text';
	grid-template-columns: auto 1fr;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;

	.icon {
		grid-area: icon;

		.snail-icon {
			height: 2em;
			padding-right: 1em;
		}
	}

	.text {
		color: $brand-color;
		font-size: 0.6em;
		grid-area: text;
	}
}

.menubar-icon {
	aspect-ratio: 1;
	height: 1.625rem;
	line-height: 0;
}

.page-content {
	padding-top: $nav-bar-height * 1.1;
}

.post-content {
	margin-bottom: $spacing-unit;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1em;
	}

	img,
	object {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
		padding-bottom: 1em;
		padding-top: 1em;
	}
}

.section {
	padding-bottom: 2em;
	@media (max-width: $on-palm) {
		display: block;
	}
	@media (min-width: $on-palm) {
		display: grid;
		gap: 1em;
		grid-auto-flow: column;
	}

	.section-image {
		display: flex;
		align-items: center;

		@media (min-width: $on-palm) {
			width: 300px;
		}
		@media (max-width: $on-palm) {
			max-width: 100%;
			width: 100%;
		}

		img,
		object {
			@media (min-width: $on-palm) {
				max-width: 300px;
			}
			@media (max-width: $on-palm) {
				max-width: 80%;
				margin: auto;
				padding-bottom: 1em;
				padding-top: 1em;
			}
		}
	}

	.section-text {
		@media (max-width: $on-palm) {
			width: 100%;
		}

		blockquote:not(:last-of-type) {
			margin-bottom: 2em;
		}

		p {
			&:first-of-type {
				margin-top: 2em;
			}

			&:empty {
				display: none;
			}
		}
	}

	&-left {
		.section-image {
			grid-column: 1;
		}

		.section-text {
			grid-column: 2;
		}
	}

	&-right {
		.section-text {
			grid-column: 1;
		}

		.section-image {
			grid-column: 2;
		}
	}
	&-center {
		.section-text {
			grid-column-start: 1;
			grid-column-end: 2;
			text-align: center;
		}
	}
}

.site-header {
	background-color: $lm-brand-color;
	border-bottom: none;
	border-top: none;

	// Positioning context for the mobile navigation icon
	max-height: $nav-bar-height;
	min-height: $nav-bar-height;
	position: fixed;
	top: 0;
	width: 100%;

	z-index: 1;

	&:hover {
		text-decoration: none;
	}

	@media (prefers-color-scheme: dark) {
		background-color: $dm-brand-color !important;
	}

	.site-title,
	.page-link,
	a {
		color: black;

		&:hover {
			text-decoration: none;
		}

		@media (prefers-color-scheme: dark) {
			color: white;
		}
	}
}

.site-title .title-text {
	font-size: 1.625rem;
	overflow: hidden;
	text-decoration: none !important;
	white-space: nowrap;
	@include media-query($on-palm) {
		font-size: 5vw;
	}
}

.vertical-padding {
	padding-top: 5em;
}

figcaption {
	color: $secondary-color;
	font-size: 0.75em;
	margin-top: -1em;
	text-align: center;
}

section:not(:last-of-type) {
	margin-bottom: 30px;
}
