html {
	scroll-padding-top: $nav-bar-height * 1.1;
	scroll-behavior: smooth;
	overflow: scroll;

	main {
		margin-top: $nav-bar-height;
	}
}

.docs-page {
	@media (min-width: $on-palm) {
		align-items: start;
		display: grid;
		grid-template-areas:
		'post-header post-header'
		'page-content sidebar'
		'documentation sidebar'
		'end-content end-content';
		grid-template-columns: 3fr 1fr;
	}

	.end-content {
		grid-area: end-content;
	}

	.post-header {
		grid-area: post-header;
		overflow-wrap: break-word;
	}

	.page-content {
		grid-area: page-content;
		padding: revert;
	}

	.documentation {
		grid-area: documentation;
		width: 100%;
		@media (min-width: $on-palm) {
			max-width: 660px;
		}

		object.inline {
			height: 1em;
		}

		img:not(.shortcuts-action),
		object:not(.inline) {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			max-height: 450px;
			max-width: 100%;
		}

		.shortcuts-action {
			height: 0.8em;
			padding-bottom: 0.1em;
		}

		.docs-tip {
			display: grid;
			font-size: 0.8em;
			grid-template-areas: 'title content';
			grid-template-columns: auto 1fr;
			padding-left: 2em;

			.tip-title {
				grid-area: title;
				padding-right: 0.5em;
			}

			.tip-content {
				grid-area: content;
			}
		}
	}

	.sidenav {
		grid-area: sidebar;
		@media (min-width: $on-palm) {
			border-left: solid 1px $text-color;
			margin-left: 1em;
		}

		ul {
			list-style: none;
		}

		> ul {
			@include media-query($on-palm) {
				border-left: solid 1px $text-color;
				margin-left: revert;
				padding-left: 1em;
				&::before {
					content: "Table of Contents";
					font-weight: bold;
				}
			}
			@media (min-width: $on-palm) {
				margin-bottom: 0;
				margin-left: 1em;
				position: sticky;
				top: calc($nav-bar-height + 10%)
			}

			li:not(:last-of-type) {
				padding-bottom: 0.5em;
			}
		}
	}
}

.email-form {
	padding-bottom: 2em;

	textarea,
	select,
	input {
		background-color: $background-color;
		border: 1px solid $text-color;
		border-radius: 5px;
		color: $text-color;
		max-width: 100%;
		padding: 0.5em;
		@media (min-width: $on-palm) {
			width: 50%;
		}
		@include media-query($on-palm) {
			width: inherit;
			&:not(:last-of-type) {
				margin-bottom: 0.75em;
			}
		}
	}

	input[type='submit'] {
		@media (min-width: $on-palm) {
			max-width: 20%;
			width: auto;
		}
	}

	form {
		@include media-query($on-palm) {
			display: grid;
		}
		@media (min-width: $on-palm) {
			display: flex;

			.field {
				margin-right: 0.5em;
				width: 22em;
			}
		}
	}
}

.feature-content {
	.container {
		margin: 10px auto;
		max-width: 600px;
		text-align: center;

		h1 {
			font-size: 4em;
			letter-spacing: -1px;
			line-height: 1;
			margin: 10px 0 30px 0;
		}
	}
}

.homepage-icon {
	aspect-ratio: 1;
	float: right;
	margin-left: auto;
	margin-right: 0;
	padding-bottom: 1em;
	padding-left: 1em;
	width: 150px;
}

.legal {
	display: grid;
	grid-template-areas: 'icon text';
	grid-template-columns: auto 1fr;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;

	.icon {
		grid-area: icon;

		.snail-icon {
			height: 2em;
			padding-right: 1em;
		}
	}

	.text {
		color: $brand-color;
		font-size: 0.6em;
		grid-area: text;
	}
}

.menubar-icon {
	aspect-ratio: 1;
	height: 1.625rem;
	line-height: 0;
}

.post-content {
	margin-bottom: $spacing-unit;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1em;
	}

	p > img,
	& > img,
	object,
	picture,
	p > img,
	p > object {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
		padding-bottom: 1em;
		padding-top: 1em;
	}
}

.section {
	grid: auto-flow / 1fr;
	padding-bottom: 2em;
	@media (min-width: $on-palm) {
		display: grid;
		gap: 1em;
		grid-auto-flow: column;
	}
	@include media-query($on-palm) {
		display: block;
	}

	.section-image {
		align-items: center;
		display: flex;

		@media (min-width: $on-palm) {
			width: 300px;
		}
		@include media-query($on-palm) {
			max-width: 100%;
			width: 100%;
		}

		img,
		object,
		picture {
			@media (min-width: $on-palm) {
				max-width: 300px;
			}
			@include media-query($on-palm) {
				align-items: center;
				display: flex;
				justify-content: center;
				margin: auto;
				max-width: 80%;
				padding-bottom: 1em;
			}
		}
	}

	.section-text {
		@include media-query($on-palm) {
			width: 100%;
		}

		blockquote:not(:last-of-type) {
			margin-bottom: 2em;
		}

		p {
			&:first-of-type {
				margin-top: 2em;
			}

			&:empty {
				display: none;
			}
		}
	}

	&-left {
		.section-image {
			grid-column: 1;
		}

		.section-text {
			grid-column: 2;
		}
	}

	&-right {
		.section-text {
			grid-column: 1;
		}

		.section-image {
			grid-column: 2;
		}
	}

	&-center {
		.section-text {
			grid-column-end: 2;
			grid-column-start: 1;
			text-align: center;
		}
	}
}

.site-header {
	background-color: $site-header;
	border-bottom: none;
	border-top: none;

	// Positioning context for the mobile navigation icon
	max-height: $nav-bar-height;
	min-height: $nav-bar-height;
	position: fixed;
	top: 0;
	width: 100%;

	z-index: 1;

	&:hover {
		text-decoration: none;
	}

	@media (prefers-color-scheme: dark) {
		background-color: $site-header !important;
	}

	.site-title,
	.page-link,
	a {
		color: black;

		&:hover {
			text-decoration: none;
		}

		@media (prefers-color-scheme: dark) {
			color: white;
		}
	}
}

.site-title .title-text {
	font-size: 1.625rem;
	overflow: hidden;
	text-decoration: none !important;
	white-space: nowrap;
	@include media-query($on-palm) {
		font-size: 5vw;
	}
}

.vertical-padding {
	padding-top: 5em;
}

figcaption {
	color: $secondary-color;
	font-size: 0.75em;
	margin-top: -1em;
	text-align: center;
}

section:not(:last-of-type) {
	margin-bottom: 30px;
}

a.svg {
	display: inline-block;
	position: relative;

	&:after {
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

hr {
	margin-top: revert;
	margin-bottom: revert;

	@media (min-width: $on-palm) {
		margin-top: $spacing-unit;
		margin-bottom: $spacing-unit;
	}
}
