<!DOCTYPE html>
<html lang="{{- page.lang | default: site.lang | default: 'en' -}}">
{%- include head.html -%}

<body>
{%- include header.html -%}
{%- assign dark_images = site.static_files | where_exp: "asset", "asset.path contains '/assets/dark'" -%}

<main aria-label="Content" class="page-content">
	{% assign content = content | strip %}
	{% assign content_word_length = content | number_of_words %}
	{% if content_word_length > 0 %}
		{% assign show_content = true %}
	{% else %}
		{% assign show_content = false %}
	{% endif %}
	<div class="wrapper">{{- content -}}</div>
</main>

{%- include footer.html -%}
</body>
</html>
